<!DOCTYPE html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}
    / %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "favicon.ico"}
    <!--[if lte IE 8]>
    <script type="text/javascript" src="scripts/libs/html5shiv.js"></script>  
    <![endif]-->
    / %link{:href => 'http://fonts.googleapis.com/css?family=Magra:400,700|Bree+Serif', :rel => 'stylesheet', :type => 'text/css'}
    / %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:rel => "stylesheet", :href => "styles/build/site.css"}
    %title Danielle's Grunt Boilerplate

  %body
    Hello
    %script{:src => "http://code.jquery.com/jquery-1.11.1.min.js"}
    %script{:src => "scripts/build/site.min.js"}
    