////// Fonts //////
$font-logo: 'Bree Serif', serif;
$font-copy: 'Magra', sans-serif;

////// Colours //////
$col-main: #333333;       //Grey
$col-secondary: #16aa9d;  //Turqoise
$col-lighter: #8e8e8e;    //Lighter Grey
$col-lightest: #ededed;   //Lightest Grey
$col-darker: #252525;     //Dark Grey